<h2 id="title">LOGO Jobbie</h2>

<div align="left">
	<ul>
		<li>{{link-to 'home' 'jobbies' class='class'}}</li>
		<li>{{link-to 'profile' 'jobbies.show' 1 class='class'}}</li>
	</ul>
</div>


{{outlet}}
